In [ ]:
import pandas as pd

In [ ]:
chilled_water_preds_dir='/content/drive/My Drive/chilled_water_preds_3.csv'
chilled_water_preds= pd.read_csv(chilled_water_preds_dir)
hot_water_preds_dir = '/content/drive/My Drive/hot_water_preds_1.csv'
hot_water_preds = pd.read_csv(hot_water_preds_dir)
steam_outlier_preds_dir = '/content/drive/My Drive/steam_outlier_preds.csv'
steam_outlier_preds = pd.read_csv(steam_outlier_preds_dir)
electricity_preds_dummy_dir='/content/drive/My Drive/electricirty_preds_dummy.csv'
electricity_preds_dummy=pd.read_csv(electricity_preds_dummy_dir)

In [ ]:
# import numpy as np
# zero_data = np.zeros((28452195,2))
# feature_list=['row_id','meter_reading']
# d = pd.DataFrame(zero_data, columns=feature_list)
# d.head()

In [ ]:
merged_4files=pd.concat([electricity_preds_dummy,chilled_water_preds,steam_outlier_preds,hot_water_preds])

In [ ]:
merged_4files.head()

   row_id  meter_reading
0       0            0.0
1       1            0.0
2       2            0.0
3       3            0.0
4       4            0.0

In [ ]:
merged_4files.shape

(41697600, 2)

In [ ]:
merged_4files_sorted = merged_3files.sort_values(by ='row_id' )

In [ ]:
save_4_merged_file = pd.DataFrame({'row_id':merged_3files['row_id'],
                                   'meter_reading':merged_3files['meter_reading']})
save_4_merged_file.head()

   row_id  meter_reading
0       0            0.0
1       1            0.0
2       2            0.0
3       3            0.0
4       4            0.0

In [ ]:
file_name='save_4_merged_file.csv'
save_4_merged_file.to_csv(file_name,index=False)
print('Saved file:'+file_name)

Saved file:save_3_merged_file.csv